ml-collections==0.1.1
tensorflow-gan
tensorflow_io
tensorflow_datasets
tensorflow-macos==2.13.0
tensorflow-metal
tensorflow-addons
tensorboard==2.13.0
absl-py==1.0.0
numpy==1.22.0
torch==1.7.0+cpu  # 指定 CPU 版本
torchvision==0.8.1+cpu  # 指定 CPU 版本
ninja